@model Enterprise.Web.MPA.Models.ProductDetail.ProductDetailComponentModel

<div class="product-details">
    <div class="product-header-holder">
        <div class="product-header-holder-style">
            <div class="product-details-header">
                @Model.ProductName
            </div>
            <div class="product-details-price">
                @Model.Price
            </div>
            <div class="product-details-rating">
                @foreach (string star in Model.Stars)
                {
                    <span class="starspan">
                        <img src="@star" width="15" height="15" />
                    </span>
                }
                <span class="rate-span">@Model.RateStar of 5 stars</span>
                <span class="reviews-span">(@Model.Reviews Reviews)</span>
            </div>
        </div>
    </div>
    <div class="product-details-shipping">
        <span class="product-details-span">
            <img src="~/images/icons/location.png" width="15" height="15" />
            Product Location:
            <div class="product-details-selectable-location">
                <span>
                    @Model.Location
                </span>
            </div>
        </span>
        <span class="product-details-span">
            <img src="~/images/icons/shipping.png" width="15" height="15" />
            Deliver To:
            <div class="product-details-selectable" onclick="deliverClick()">
                <div class="product-details-selectable-header">
                    <span>
                        @Model.Deliver
                        <img id="deliverydropdown" src="~/images/icons/arrow_down.png" width="15" height="15" />
                    </span>
                </div>

                <div class="dropdown-delivery" hidden="hidden" id="deliverdropcontent">
                    <div class="searchbar">
                        <input class="searchbar-txtbox" type="textbox" placeholder="Search" />
                    </div>
                    <div class="searchitems">
                        <ul class="searchitems-ul">
                            @foreach (string item in Model.Locations)
                            {
                                <li class="searchitem-li">
                                    @item
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </span>
        <span class="product-details-span delivery-span">
            <img src="~/images/icons/dollar.png" width="15" height="15" />
            Deliver Price:
            <div class="product-details-selectable" onclick="deliverPriceClick()">
                <div class="product-details-selectable-header">
                    <span>
                        @Model.DeliverPrice
                        <img id="deliverypricedropdown" src="~/images/icons/arrow_down.png" width="15" height="15" />
                    </span>
                </div>
                <div class="dropdown-delivery" hidden="hidden" id="deliverpricecontent">
                    <div class="searchbar">
                        <input class="searchbar-txtbox" type="textbox" placeholder="Search" />
                    </div>
                    <div class="searchitems">
                        <ul class="searchitems-ul">
                            @foreach (string item in Model.DeliveryOptions)
                            {
                                <li class="searchitem-li">
                                    @item
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <div class="product-order">
        <div class="product-details-variation">
            <div class="variation-header">
                Variation:
            </div>
            <div class="variation-body">
                @foreach (var item in Model.Variations)
                {
                    <div class="variation-item">
                        @item
                    </div>
                }
            </div>
        </div>
        <div class="product-details-quantity">
            <div class="quantity-header">Quantity: </div>
            <div class="quantity-body">
                <div class="quantity-body">
                    <div class="quantity-stepper">
                        <button class="stepper-btn">+</button>
                        <input type="text" class="quantity-stepper-txtbox" value="@Model.Quantity" />
                        <button class="stepper-btn">-</button>
                    </div>
                    <div class="stockdiv">@Model.Stock Stock</div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-details-command-container">
        <div class="product-details-buy">
            <span>
                <img src="~/images/icons/buy.png" width="15" height="15" />
                BUY NOW
            </span>
        </div>
        <div class="product-details-addcart">
            <span>
                <img src="~/images/icons/add_cart.png" width="15" height="15" />
                ADD TO CART
            </span>
        </div>
    </div>
</div>